*{ margin:0;padding:0;font-family: 'SEGOE UI',Ubuntu,roboto,'Open Sans';font-size:100%;box-sizing: border-box;}
body{
  background: black;
    overflow: hidden;
}
.loader{
    background: black;
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    opacity: 0.8;
    z-index: 100;
}

.loader div{ text-align: center;width: 100%;margin-top: 3%;}
.container{
    position: absolute;
    width:100%;
    background: white;
    background-image: url(../images/background.jpg);
    height:100%;
    padding: 0%;
    float: left;
}
.top{
    background: #2c323a;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    padding: 1%;
    width:100%;
    color:#FFEB3B;
}
.top span{margin-left: 2%;}

.top i{ 
    color:#FFEB3B;
    cursor: pointer;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    border:2px solid #FFEB3B;
    cursor: pointer;
    border-radius: 50%;
    padding: 1%;
}

select{
    background: white;
    outline:none;
    border:none;
    margin-left: 1%;
    cursor: pointer;
    text-align: center;
    width:25%;
    padding:1% 3%;
    margin:1%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
select *{
    text-align: center;
    padding: 2%;
    -webkit-border-radius: 5px;
}

select option{ text-align: center;margin-left: -10px;}
select#videos{ width:50%;}

.videocont{
    position: absolute;
    width:100%;
    height: 100%;
    background: black;
    display:none;
}

video#player {
    width:60%;
    height: 85%;
    margin-left: 20%;
    margin-top: 2%;
    z-index: -1;
}
div#fullscreen{
    padding: 1%;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    font-size: 1em;
    background:black;
    cursor: pointer;
    border:2px solid #FFEB3B;
    border-radius: 50%;
    color:#FFEB3B;
    -webkit-transition: all 0.3s ease;
}

div#fullscreen:hover{
    background: #FFEB3B;
    color: black;
}

div#controls{
    background: black;
    color: #FFEB3B;
    float: left;
    width:60%;
    font-size: 1.5em;
    z-index: 20;
    margin-top: 1%;
    margin-left: 24%;
}

div#controls i{
    float: left;
    cursor: pointer;
}

div#controls input[type='range']{
  float: left; 
    margin-top: 10px;
}

input[type=range] {
  outline: none;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 10%; /* Specific width is required for Firefox. */
  border:1px solid yellow;
  padding: 0;
  height: 8px;
  border-radius: 10px;
  background: yellow;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  border:2px solid yellow;
  width: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

#time{
    width:50%;
    margin-left: 2%;
    margin-right: 3%;
}

#time-verbose{
    margin-left: 3%;
}

#speed{ margin-left: 2%;}

